<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 使用  extends SqlSessionDaoSupport 的方式实现 sqlSession 的注入 -->
    <bean id="userTestMapper" class="com.frame.spring.transaction.dao.UserTestMapperImpl">
        <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
    </bean>

    <!-- 业务逻辑层 -->
    <bean id="userTestService" class="com.frame.spring.transaction.service.UserTestServiceImpl">
        <constructor-arg name="userTestMapper" ref="userTestMapper"/>
    </bean>

    <!-- 引入其他配置文件 -->
    <import resource="spring-dao.xml"/>

</beans>