<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        https://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="baseService" class="com.frame.spring.aop.service.BaseServiceImpl"/>
    <bean id="logService" class="com.frame.spring.aop.service.LogService"/>
    <bean id="mosquitoService" class="com.frame.spring.aop.service.MosquitoServiceImpl"/>
    <bean id="tableService" class="com.frame.spring.aop.service.TableServiceImpl"/>

    <!-- 方式一，使用原生 Spring API 接口 -->
    <!-- aop 配置 -->
    <aop:config>
        <!-- 切入点 express 表达式 execution(* * * * *)【修饰词 返回值 列名 方法名 参数】【两个点表示有任意的参数】 -->
        <aop:pointcut id="pointcut" expression="execution(* com.frame.spring.aop.service.BaseServiceImpl.*(..))"/>
        <!-- 执行环绕 -->
        <aop:advisor advice-ref="logService" pointcut-ref="pointcut"/>
    </aop:config>

</beans>