<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        https://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="baseService" class="com.frame.spring.aop.service.BaseServiceImpl"/>
    <bean id="logService" class="com.frame.spring.aop.service.LogServiceImpl"/>
    <bean id="mosquitoService" class="com.frame.spring.aop.service.MosquitoServiceImpl"/>
    <bean id="tableService" class="com.frame.spring.aop.service.TableServiceImpl"/>
    <bean id="diyService" class="com.frame.spring.aop.service.DiyServiceImpl"/>

    <!-- 使用注解实现 AOP -->
    <bean id="annotationPointCut" class="com.frame.spring.aop.service.AnnotationPointCut"/>
    <!-- 开启注解支持 【proxy-target-class="false" 使用的是】【jdk proxy-target-class="true" 使用的是 cglib】 -->
    <!-- 如果目标类是接口的实现类，则必须使用 cglib -->
    <aop:aspectj-autoproxy proxy-target-class="true"/>

</beans>