<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 使用 -->
    <bean id="userTestMapper" class="com.frame.spring.mybatis.dao.UserTestMapperImpl">
        <constructor-arg name="sqlSessionTemplate" ref="sqlSessionTemplate"/>
    </bean>

    <import resource="spring-dao.xml"/>

</beans>