<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    .div1 {
        border-color: aqua;
    }

    .div2 {
        border-color: aquamarine;
    }

    .div3 {
        border-color: blue;
    }
</style>
<body>

<!--如果未登录-->
<p shiro:guest="">
    <a th:href="@{/login-in}">登录</a>
</p>
<!-- 已经登录了 -->
<p shiro:authenticated="">
    Hello, <span shiro:principal="" property="alias"></span>, how are you today?
</p>

<div class="div1" shiro:hasPermission="user:level1">
    <a href="/go-to-html/1/1">level1-1</a>
    <a href="/go-to-html/1/2">level1-2</a>
    <a href="/go-to-html/1/3">level1-3</a>
</div>
<div class="div2" shiro:hasPermission="user:level2">
    <a href="/go-to-html/2/1">level2-1</a>
    <a href="/go-to-html/2/2">level2-2</a>
    <a href="/go-to-html/2/3">level2-3</a>
</div>
<div class="div3" shiro:hasPermission="user:level3">
    <a href="/go-to-html/3/1">level3-1</a>
    <a href="/go-to-html/3/2">level3-2</a>
    <a href="/go-to-html/3/3">level3-3</a>
</div>
</body>
</html>